[submodule "pe/FormatWidgets"]
	path = pe/FormatWidgets
	url = https://github.com/horsicq/FormatWidgets.git
[submodule "pe/FormatDialogs"]
	path = pe/FormatDialogs
	url = https://github.com/horsicq/FormatDialogs.git
[submodule "pe/Controls"]
	path = pe/Controls
	url = https://github.com/horsicq/Controls.git
[submodule "pe/Formats"]
	path = pe/Formats
	url = https://github.com/horsicq/Formats.git
[submodule "pe/QHexView"]
	path = pe/QHexView
	url = https://github.com/horsicq/QHexView.git
[submodule "pe/XMemoryMapWidget"]
	path = pe/XMemoryMapWidget
	url = https://github.com/horsicq/XMemoryMapWidget.git
[submodule "pe/XEntropyWidget"]
	path = pe/XEntropyWidget
	url = https://github.com/horsicq/XEntropyWidget.git
[submodule "pe/XQwt"]
	path = pe/XQwt
	url = https://github.com/horsicq/XQwt.git
[submodule "pe/XHashWidget"]
	path = pe/XHashWidget
	url = https://github.com/horsicq/XHashWidget.git
[submodule "pe/StaticScan"]
	path = pe/StaticScan
	url = https://github.com/horsicq/StaticScan.git
[submodule "pe/SpecAbstract"]
	path = pe/SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
[submodule "pe/XArchive"]
	path = pe/XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "pe/XDEX"]
	path = pe/XDEX
	url = https://github.com/horsicq/XDEX.git
[submodule "pe/signatures"]
	path = pe/signatures
	url = https://github.com/horsicq/signatures.git
[submodule "pe/XDisasmView"]
	path = pe/XDisasmView
	url = https://github.com/horsicq/XDisasmView.git
[submodule "pe/XHexView"]
	path = pe/XHexView
	url = https://github.com/horsicq/XHexView.git
[submodule "pe/XShortcuts"]
	path = pe/XShortcuts
	url = https://github.com/horsicq/XShortcuts.git
[submodule "pe/XHexEdit"]
	path = pe/XHexEdit
	url = https://github.com/horsicq/XHexEdit.git
[submodule "pe/XDemangle"]
	path = pe/XDemangle
	url = https://github.com/horsicq/XDemangle.git
[submodule "pe/XDemangleWidget"]
	path = pe/XDemangleWidget
	url = https://github.com/horsicq/XDemangleWidget.git
[submodule "pe/XLLVMDemangler"]
	path = pe/XLLVMDemangler
	url = https://github.com/horsicq/XLLVMDemangler.git
