[submodule "pe/FormatWidgets"]
	path = pe/FormatWidgets
	url = https://github.com/horsicq/FormatWidgets.git
[submodule "pe/FormatDialogs"]
	path = pe/FormatDialogs
	url = https://github.com/horsicq/FormatDialogs.git
[submodule "pe/Controls"]
	path = pe/Controls
	url = https://github.com/horsicq/Controls.git
[submodule "pe/Formats"]
	path = pe/Formats
	url = https://github.com/horsicq/Formats.git
[submodule "pe/QHexView"]
	path = pe/QHexView
	url = https://github.com/horsicq/QHexView.git
[submodule "pe/XMemoryMapWidget"]
	path = pe/XMemoryMapWidget
	url = https://github.com/horsicq/XMemoryMapWidget.git
[submodule "pe/XEntropyWidget"]
	path = pe/XEntropyWidget
	url = https://github.com/horsicq/XEntropyWidget.git
